<div  class="callout">
    <h1 mat-dialog-title><i class="
        
        
fas fa-mail-bulk"></i> <font color="green">  ¡Atención!</font> </h1>
    </div>
        <div mat-dialog-content>
            <p>{{mensaje}}</p>
        </div>
        
        <div mat-dialog-actions class="uno" >
        
            <div class="dos"> <button   mat-button (click)="confirmado()" cdkFocusInitial  class="btn btn-outline-success ">ok</button>
            
               
            </div>
            
           
        </div>