<div class="row">
    <div class=" col-md-6">
<div class="general">
    <div class="imagenv">
<img src="../../assets/undraw_Hiring_re_yk5n.svg" width="100%" height="100%">
    </div>
</div> </div>

<div class=" col-md-6">
<div class="registrar">
    
    <div class="card account-dialog">
        <div class="card-header bg-warning text-white"> Registrate </div>
        <div class="card-body">
            <form action="#!">
                
                
                <div class="form-group">
                    <input type="email" id="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo">
                </div>
                <div class="form-group">
                    <div class="alert alert-success" role="alert">
                        Recuerda guardar o escribir tu contraseña en un lugar seguro, 
                        donde solo tú sepas donde esta
                      </div>
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                </div>
                
                
                <div class="form-group">
                    <input type="text" id="nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre Matrimonio o Sacerdote">
                </div>
              
                <div class="form-group">
                    <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputState">Región</label>
                        <select id="inputState" class="form-control">
                            <option selected>Selecciona</option>
                            <option>Bajío</option>
                            <option>CDMX</option>
                            <option>Centro</option>
                            <option>Costa Montaña</option>
                            <option>Golfo</option>
                            <option>Mar de Cortes</option>
                            <option>Metropolitana</option>
                            <option>Noreste</option>
                            <option>Norte</option>
                            <option>Occidente</option>
                            <option>Oriente</option>
                            <option>Pacifico</option>
                            <option>Peninsular</option>
                            <option>San Pedro de Jesús</option>
                            <option>Sureste</option>
                            
                        </select>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Ciudad</label>
                        <select id="inputState" class="form-control">
                            <option selected>Selecciona</option>
                            <option>Morelia</option>
                            <option>Irapuato</option>
                            <option>CDMX</option>
                            <option>San Luis Potosí</option>
                            <option>Toluca</option>
                            <option>Veracruz</option>
                            <option>Nogales</option>
                            <option>Hermosillo</option>
                            <option>Tlalnepantla</option>
                            <option>Matamoros</option>
                            <option>Reynosa</option>
                            <option>Matrimonio</option>
                            <option>Torreón</option>
                            <option>Gómez Palacio</option>
                            <option>Durango</option>
                            <option>Colima</option>
                            <option>Guadalajara</option>
                            <option>Puebla</option>
                            <option>Tlaxcala</option>
                            <option>Guasave</option>
                            <option>Culiacán</option>
                            <option>Guaymas</option>
                            <option>Campeche</option>
                            <option>Mérida</option>
                            <option>Cancún</option>
                            <option>Ciudad Juárez</option>
                            <option>Chihuahua</option>
                        </select>

                    </div>
                </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-md-12">
                        <label for="inputState">Area</label>
                        <select id="inputState" class="form-control">
                            <option selected>Selecciona</option>
                            <option>Regional</option>
                            <option>Nacional</option>
                            <option>Diocesano</option>
                        </select>
                    </div>
                </div>
                
                <div class="account-dialog-actions">
                    
                    <button type="submit" class="btn btn-outline-primary">registrar</button>
                    <a class="account-dialog-link" routerLink="/login">¿Ya tienes una cuenta?</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

</div>