<!--Navbar que se mostrará al inicio-->

          <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" >
                 
                <font color="white">Encuentro Matrimonial Mundial</font><br>
                <font size="3"  color="white">Secretariado Latinoamericano</font>
                </a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
                    </li>
                    
             </ul>

                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>

                  </li>
                  
           </ul>
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/registrar">Registro</a>
              </li>
              
       </ul>

       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Cerra sesión</a>
          </li>
          
   </ul>
               
              </div>
              
              
          </nav>

         
<div class="admin">
  

  <app-admin></app-admin>
</div>
          
          
          <router-outlet></router-outlet>