<br><br><br><br><br>
<div class="container">

    <div class="row"><h1 class="display-4"><font color="#F50057">Felicidades a nuestros ganadores</font><font color="#F9A826"> Nombre ganadores</font> </h1></div>
<div class="row">
    <div class="col-md-4"> <img src="../../assets/undraw_wedding_t1yl.svg" width="100%" height="100%"></div>
<div class="col-md-8">
    <div>
        <div>
          <div class="chart">
            <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [colors]="pieChartColors"
              [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>
      
</div>

</div>
</div>