<div class="form-screen">
   <h1>¿Olvidaste tu contraseña?</h1>

   
   <div class="card-body">

    <p >Para restaurar tu contraseña, ingresa tu dirección de correo electrónico registrada </p>
    <p> en esta plataforma. Es posible que tengas que consultar tu carpeta de spam</p> 

       <form class="form-inline">
        
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Correo</label>
            <input type="email" class="form-control" style="WIDTH: 25rem; " id="inputPassword2" placeholder="Correo">
        </div>
        <button type="submit" (click)="mostrarDialogo()" class="btn btn-primary mb-2">Enviar</button>
    </form>
    <div class="etiqueta">
        <br><br>
        <a routerLink="/login"> Ya me acorde</a></div>
    
   </div>

   


</div>
