<div class="container">
    <div class="row">

        <div class="col-md-12">
        <div class="anuncio">
<div class="imagen">
    <img src="../../assets/logo.svg" width="100%" height="100%">

</div>
<div class="palabras">
    <h2>Para comenzar, escoge una de las siguientes opciones</h2>

</div>
            
        </div>
        



    </div>


   <div class="col-md-6">

    <div class="select" [routerLink]="['/matrimoniosnominados']" routerLinkActive="router-link-active" >

        <img src="../../assets/undraw_wedding_t1yl.svg" width="100%" height="100%">
        <br><br>
        <h1 class="display-6">Matrimonio</h1>
    </div>

    
   </div>


   <div class="col-md-6">

    <div class="select" [routerLink]="['/sacerdotenominados']">

        <img src="../../assets/sacerdote.png"  width="100%" height="100%">
        <br><br>
        <h1 class="display-6">Sacerdotes</h1>
    </div>

    
   </div>
  
</div>
<br><br><br><br><br>
<div class="row">


   <div class="col-md-6">

    <div class="select" [routerLink]="['/70']">

        <img src="../../assets/undraw_Done_checking_re_6vyx.svg" width="100%" height="100%">
        <br><br>
        <h1 class="display-6">Finalistas votaciones al 70 Matrimonios</h1>
    </div>

    
   </div>


   <div class="col-md-6">
    <div class="select" [routerLink]="['/70sacerdote']">

        <img src="../../assets/undraw_Done_checking_re_6vyx.svg" width="100%" height="100%">
        <br><br>
        <h1 class="display-6">Finalistas votaciones al 70 Sacerdotes</h1>
    </div>
    

    
   </div>


</div>
<br><br><br><br><br><br><br><br>

<div class="row">


    
 
 
    <div class="col-md-6">
 
     <div class="select" [routerLink]="['/50']">
 
         <img src="../../assets/undraw_Preferences_re_49in.svg" width="100%" height="100%">
         <br><br>
         <h1 class="display-6">Finalistas votaciones al 50+1 Matrimonios</h1>
     </div>
 
     
    </div>
    <div class="col-md-6">
 
        <div class="select" [routerLink]="['/50sacerdote']">

            <img src="../../assets/undraw_Preferences_re_49in.svg" width="100%" height="100%">
            <br><br>
            <h1 class="display-6">Finalistas votaciones al 50+1 Sacerdote</h1>
        </div>
        
       </div>
 
 
 </div>
 <br><br><br><br><br><br><br><br><br><br>

<div class="row">


    <div class="col-md-6">
 
     <div class="select" [routerLink]="['/ganadormatrimonio']">
 
         <img src="../../assets/undraw_awards_fieb.svg" width="100%" height="100%">
         <br><br>
         <h1 class="display-6">Ganador Matrimonio</h1>
     </div>
 
     
    </div>
 
 
    <div class="col-md-6">
 
     <div class="select" [routerLink]="['/ganadorsacerdote']">
 
         <img src="../../assets/undraw_awards_fieb.png" width="100%" height="100%">
         <br><br>
         <h1 class="display-6">Ganador Sacerdote</h1>
     </div>
 
     
    </div>
 
 
 </div>
 <br><br><br><br><br><br>

<div class="row">


    <div class="col-md-6">
 
     <div class="select" [routerLink]="['/user']">
 
         <img src="../../assets/undraw_Add_friends_wa2a.svg" width="100%" height="100%">
         <br><br>
         <h1 class="display-6">Usuarios</h1>
     </div>
 
     
    </div>
 
 
    
 
 
 </div>


</div>
